@font-face {
    font-family: 'Circular';
    src: url('Circular-Book.eot');
    src: url('Circular-Book.eot?#iefix') format('embedded-opentype'),
        url('Circular-Book.woff2') format('woff2'),
        url('Circular-Book.woff') format('woff'),
        url('Circular-Book.ttf') format('truetype'),
        url('Circular-Book.svg#Circular-Book') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('Circular-Medium.eot');
    src: url('Circular-Medium.eot?#iefix') format('embedded-opentype'),
        url('Circular-Medium.woff2') format('woff2'),
        url('Circular-Medium.woff') format('woff'),
        url('Circular-Medium.ttf') format('truetype'),
        url('Circular-Medium.svg#Circular-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('Circular-Bold.eot');
    src: url('Circular-Bold.eot?#iefix') format('embedded-opentype'),
        url('Circular-Bold.woff2') format('woff2'),
        url('Circular-Bold.woff') format('woff'),
        url('Circular-Bold.ttf') format('truetype'),
        url('Circular-Bold.svg#Circular-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

