/* Colours */
$black: #404b57;
$black_light: #737E8B;
$blue: #60c0f3;
$blue_dark: #3D81A5;
$blue_darkest: #2D3185;
$green: #39A934;
$green_dark: #1E7C1A;
$grey: #E7E7E8;
$grey_light: #ECEBEB;
$orange: #FD8D00;
$purple: #5f4788;
$purple_light: #B584E2;
$red: #E70040;
$yellow: #FDED00;
$white: #FFFFFF;

/* Fonts */
$font: 'Circular';
$font_size_big: 22px;
$font_size_general: 20px;
$font_size_medium: 18px;
$font_size_small: 15px;
$font_size_extrasmall: 10px;
$font_size_h1: 50px;
$font_size_h2: 35px;
$font_size_h3: 24px;

/* Misc. */
$shadow: 5px 5px 35px 0px rgba(20, 20, 20, 0.2);
$transition_slow: .6s all ease-in-out;
$transition_fast: .3s all ease-in-out;

/* Spacing */
$spacing_min: 5px;
$spacing_half: 15px;
$spacing: 30px;
$spacing_double: 60px;
$spacing_max: 80px;